@media (min-width: 768px) {
    header.masthead .intro-text {
      padding-top: 100px!important;
      padding-bottom: 120px!important;
    }}

@media (min-width: 768px){
    header.masthead .intro-text {
        padding-top: 200px!important;
        padding-bottom: 120px!important;
    }}
    
header.masthead {
    background-color: rgb(253, 211, 163)!important;
}
    
@media (min-width: 768px) {
header.masthead .intro-text {
    padding-top: 160px!important;
    padding-bottom: 50px!important;
}}
    
@media (min-width: 768px){
header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 0px;
}}
    
    
#mainNav .navbar-brand {
    color: rgb(240, 143, 33)!important;
}
    
.bg-light {
    background-color: rgb(255, 250, 244)!important;
}
    
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0;
    background: rgb(255, 136, 0)!important;
}